*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Kanit', sans-serif;
}
:root{
    --grisFuerteFondo : #4F4F4F;
    --blancoGrisaseo : #D9D9D9;
    --azul : #341BCB;
    --blanco: #FFFFFF;
    --size-titulos : 26px;
    --rojo : #ff0b0b;
    --rojo-bajo : #F52E2E;
    --linea-grais-blanco : ;
}
body{
    background-color: var(--grisFuerteFondo);
}

.Container-cabecera{
    display: flex;
    justify-content: space-around;
    color: var(--blanco);
    margin: 50px 0 40px 0;
}
 .img-volver{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.btnControlTablePc{
    display: flex;
    gap: 10px;
}
.backMenu{
    margin-left: 100px;
}

.Container-cabecera .img-salir{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

/*--- seccion buscador y oficianas---*/
    /*-oficinas-*/
.content-buscador-oficinas{
    display: flex;
    justify-content: space-around;
}

.titulo-mediano{
    color: var(--blanco);
    margin: 5px 0;
}
.content-oficinas .content-list-ofice {
    width: 100%; /* Ancho del contenedor padre */
    max-width: 800px; /* Puedes ajustar esto según tus necesidades */
    overflow-x: auto; /* Scroll horizontal */
    overflow-y: hidden; /* Ocultar el scroll vertical */
    white-space: nowrap; /* Evitar que los elementos se envuelvan */
    padding: 10px; /* Opcional: agregar relleno interno */
}

.content-oficinas .content-list-ofice .ulOfice {
    display: inline-flex; /* Alineación horizontal */
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-oficinas .content-list-ofice .ulOfice li{
    display: inline-block; /* Mantener en línea */
    background-color: var(--blanco);
    padding: 4px;
    border-radius: 10px;
    margin: 0 2px;
    cursor: pointer;
}
    /*-Buscador-*/
.buscador .buscador__lupa-img{
    width: 20px;
    height: 20px;
}
.buscador {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--blanco);
}
.buscador .buscador__boton{
    height: 30px;
    border: none;
    background-color: var(--blanco);
    border-radius: 10px;
    padding-top: 5px;
    cursor: pointer;
}
.buscador .buscador__input{
    background-color: transparent;
    border: none;
    width: 165px;
    outline: none;
    margin: 0 0 0 5px;
}

/*--- Tabla ---*/
.margin-izda{
    margin-left: 100px;
}
    /*-Cabecera tabla-*/
.Container-table-data{

}
.cabecara-table-data{
    display: flex;
    justify-content: center;
}
.cabecara-table-data__list-name{
    display: flex;
    background-color: var(--blanco);
    font-size: 20px;
    border-radius: 10px;
    border:solid 2px #c0c3cb ;
    margin-bottom: 10px;
    padding: 5px;
}
.especificaciones{
    background-color: var(--blancoGrisaseo);
    border:solid 2px #e1e4eb ;
    padding: 0px;
    color: #2d2d2d;
    margin-bottom: 2px;
    cursor: pointer;
}
.especificaciones:hover{
    color: var(--azul);
}
.name-list{
    width: 170px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}
.container-data-especificaciones{
    display: flex;
    justify-content: center;
}
.container-data-especificaciones .contenido-tabla{
    width: 1200px;
    height: 290px;
    background-color: #3b3b3b;
    white-space: nowrap;
    overflow-y: auto;
    border-radius: 10px;
}
/*-- boton-agragar --*/
.agregar-equipo{
    border: none;
    background-color: var(--rojo-bajo);
    color: var(--blanco);
    padding: 8px;
    border-radius: 10px;
    margin: 20px 0 0 100px;
    cursor: pointer;
}
.agregar-equipo:active{
    background-color: var(--rojo);
    color: #353535;
}

.desactivar{
    display: none;
}

/*estilos mensaje*/

.content--mensaje {
    display: flex;
    justify-content: center;
}
.mensaje{
    background-color: var(--blanco);
    padding: 15px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
}
.style-btn-blue{
    background-color: var(--azul);
}
.style-btn-red{
    background-color: var(--rojo);
}
