*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Kanit', sans-serif;
}
:root{
    --grisFuerteFondo : #4F4F4F;
    --blancoGrisaseo : #D9D9D9;
    --azul : #341BCB;
    --blanco: #FFFFFF;
    --size-titulos : 26px;
    --rojo : #ff0b0b;
    --rojo-bajo : #F52E2E;
    --morado: rgb(106, 39, 182);
}
body{
    background-color: var(--grisFuerteFondo);
}

.Container-cabecera{
    display: flex;
    justify-content: space-around;
    color: var(--blanco);
    margin: 50px 0 40px 0;
}
.Container-cabecera .img-volver{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.Container-cabecera .img-salir{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}
/*--- contenedor principal informacion del dispositivo*/
.main-info-dispositivo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-- secion informacion dispositivo --*/


.info-dispostivo-section{
    background-color: var(--blancoGrisaseo);
    width: 900px;
    padding: 30px;
    border-radius: 20px;
}

.code-dispositivo{
    display: flex;
    gap: 50px;
}

.code-dispositivo p{
    padding-top: 2px;
}
.info-dispostivo-section .info-ubicacion{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.tex-content-info{
    text-align: center;
}
.tex-content-info .list-ofice{
    display: flex;
    flex-direction: column;
}

.blue-title{
    color: var(--azul);
}

/*-- Especificaciones tecnicas del dispisitivo --*/

.especificaciones-tecnicas-content{
    margin-top: 40px;
}

.info-tecnica-tex-div {
    display: flex;
}

.info-tecnica-tex-div h4{
    width: 180px;
}

.info-tecnica-tex-div p{
    width: 200px;
}

/*-Linea divisora-*/
.linea-divisora{
    margin : 20px 0; 
}
/*-- Contenedor informacion de perifericos --*/

.content-perifericos{

}

.periferico{
    display: flex;
    justify-content: center;
    gap: 30px;
}
/*-- seccion de botones de dedicion --*/

.section-btn-edition{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.style-btn{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--blancoGrisaseo);
}


.editar-btn{
    background-color: var(--azul);
}
.editar-btn:hover{
    background-color: #442dca;
}

.borra-btn{
    background-color: var(--rojo);
}
.borra-btn:hover{
    background-color: #F52E2E;
}

.add-note-btn{
    background-color:rgb(106, 39, 182);
}
.add-note-btn:hover{
    background-color:rgb(133, 57, 219);
}


/*-- Section de notas --*/
.color-blanco{
    color: var(--blanco);
}
.section-notes{
    margin-top: 20px;
    width: 900px;
}
.card-note{
    background-color: var(--blancoGrisaseo);
    border-radius: 20px;
    padding: 20px;
}
.section-notes .info-basic-nota{
    display: flex;
    justify-content: space-around;
}

.color-gris{
    color: var(--grisFuerteFondo);
}

.newNota{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.newNotecard{
    width: 900px;
    background-color:#9deaeaff;
}

.section-notes{
    margin-bottom: 30px;
}
/*---- Style formulario e los imputs ----*/

.stile-adda-ofice{
    width: 150px;
    padding: 4px;
    border-radius: 20px;
    margin: 2px;
}

.style-input-general{
    width: 100px;
    padding: 4px;
    border-radius: 20px;
    margin: 2px;
}



.style-input-list{
    width: 20px;
    padding: 4px;
    border-radius: 20px;
    margin: 2px;
}
.parrafo-note{
    width: 100%;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
}

.fechaAuto{
    border: none;
    background-color: var(--blancoGrisaseo);
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
}

.fechaAuto:focus{
    outline: none;
}

.apodoUser{
    border: none;
    background-color: var(--blancoGrisaseo);
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
}

.apodoUser:focus{
    outline: none;
}
.desactivar{
    display: none;
}

/*--Lista de ofinas seleccionada en caso de que el usurio quiera cambiar la ofina del pc--*/
.conten-form-edit-pc{
    margin : 10px 0 30px 0;
    display: flex;
    justify-content: center;
}

.title-edit-info-pc{
    margin : 20px 0;
    text-align: center;
}

.eliminar-equipo {
    display: flex;
    justify-content: center;
}
.eliminar-equipo form{
    background-color: var(--blancoGrisaseo);
    border-radius: 10px;
    padding: 10px;
}
.eliminar-equipo form div{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*Mensaje de eliminacion de dispositivo*/
.section-mensaje-eliminacion{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.section-mensaje-eliminacion div{
    background-color: var(--blanco);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /*secion de mensajes cuando se agrega la oficina*/

.content-msn-add-ofice {
    display: flex;
    justify-content: center;
}
.msn-add-ofice{
    background-color: var(--blanco);
    padding: 20px;
    border-radius: 8px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px    ;
}

.ofice-add{
    color: var(--rojo);
}


