*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Kanit', sans-serif;
}
:root{
    --grisFuerteFondo : #4F4F4F;
    --blancoGrisaseo : #D9D9D9;
    --azul : #341BCB;
    --blanco: #FFFFFF;
    --size-titulos : 26px;
    --rojo : #ff0b0b;
}
body{
    background-color: var(--grisFuerteFondo);
}
/*---Cabecera---*/

.titulo-inventario{
    display: flex;
    justify-content: center;
}
.titulo-inventario h1{
    color: var(--blanco);
    padding: 40px 0 40px 0;
}


/*--- Formulario ---*/
.container-form{
    display: flex;
    justify-content: center;
}
.container-form__card{
    width: 400px;
    height: 450px;
    background-color: var(--blancoGrisaseo);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-form .container-form__card h3{
    padding: 50px 0 40px 0;
    
}
.form-login{
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
}

.container-form .container-form__card .form-login .form-login__input{
    width: 350px;
    border: none;
    text-align: center;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid #000;
    margin: 16px 0;
}
.iput-general{
    width: 350px;
    border: none;
    text-align: center;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid #000;
    margin: 16px 0;
}

.form-login__boton{
    background-color: var(--rojo);
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-size: 18px;
    color: var(--blanco);
    margin-top: 20px;
    cursor: pointer;
}

.inactivo {
    display : none;
}

/*---Mensaje de advertencia de registro---*/
.cartel{
    width: 300px;
    height: 120px;
    text-align: center;
    padding-top: 30px;
    margin: 20px 0 0 0;
    border-radius: 20px;
}
.mensaje-n{
    background-color: #d19393;
}
.mensaje-p{
    background-color: var(--blancoGrisaseo);
}
.btn-recargar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--rojo);
    color: var(--blanco);
    margin-top: 5px;
}
.btn-loginR{
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--azul);
    color: var(--blanco);
    margin-top: 5px;
}

/*style inisio-sesion.php*/

/*botton recuperar cuenta*/

.content-recuperar-cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
    
}
.content-recuperar-cuenta div{
    background-color: var(--blanco);
    padding: 10px;
    border-radius: 5px;
}

/*style recuperacion-cuente.php*/
.content-form-correo-recuperacion{
    display: flex;
    justify-content: center;
}
.form-correo-recuperacion{
    background-color: var(--blanco);
    width: 60%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.imputCorreoRecuperacion{
    width: 350px;
    border: none;
    text-align: center;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid #000;
    margin: 16px 0;
}

/*autentificacion.php*/

.content-detalles-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
.detalles-user {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--blanco);
}
.detalles-user ul li {
    list-style: none;
}
.from-code-verificacion{
    background-color: var(--blanco);
    border-radius: 8px;
    padding: 10px;
}
.from-code-verificacion form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*codigo_verificacion.php*/
.form-cambio-contraseña{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.form-cambio-contraseña form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    padding: 10px;
    border-radius: 8px;
}
/*cambioContraseña.php*/
.mensaje-cambio-contraseña{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.mensaje-cambio-contraseña div{
    background-color:var(--blanco);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}