*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Kanit', sans-serif;
}
:root{
    --grisFuerteFondo : #4F4F4F;
    --blancoGrisaseo : #D9D9D9;
    --azul : #341BCB;
    --blanco: #FFFFFF;
    --size-titulos : 26px;
    --rojo : #ff0b0b;
    --rojo-bajo : #F52E2E;
    --morado: rgb(106, 39, 182);
}
body{
    background-color: var(--grisFuerteFondo);
}

.Container-cabecera{
    display: flex;
    justify-content: space-around;
    color: var(--blanco);
    margin: 50px 0 40px 0;
}
.Container-cabecera .img-volver{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.Container-cabecera .img-salir{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}
/*--- contenedor principal informacion del dispositivo*/
.main-info-dispositivo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-- secion informacion dispositivo --*/


.info-dispostivo-section{
    background-color: var(--blancoGrisaseo);
    width: 900px;
    padding: 30px;
    border-radius: 20px;
}

.code-dispositivo{
    display: flex;
    gap: 50px;
}

.code-dispositivo p{
    padding-top: 2px;
}
.info-dispostivo-section .info-ubicacion{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.tex-content-info{
    text-align: center;
}

.blue-title{
    color: var(--azul);
}

/*-- Especificaciones tecnicas del dispisitivo --*/

.especificaciones-tecnicas-content{
    margin-top: 40px;
}

.info-tecnica-tex-div {
    display: flex;
}

.info-tecnica-tex-div h4{
    width: 180px;
}

.info-tecnica-tex-div p{
    width: 200px;
}

/*-Linea divisora-*/
.linea-divisora{
    margin : 20px 0; 
}
/*-- Contenedor informacion de perifericos --*/

.content-perifericos{

}

.periferico{
    display: flex;
    justify-content: center;
    gap: 30px;
}
/*-- seccion de botones de dedicion --*/

.section-btn-edition{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.style-btn{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--blancoGrisaseo);
}

.editar-btn{
    background-color: var(--azul);
}
.editar-btn:hover{
    background-color: #442dca;
}

.borra-btn{
    background-color: var(--rojo);
}
.borra-btn:hover{
    background-color: #F52E2E;
}

.add-note-btn{
    background-color:rgb(106, 39, 182);
}
.add-note-btn:hover{
    background-color:rgb(133, 57, 219);
}


/*-- Section de notas --*/
.color-blanco{
    color: var(--blanco);
}
.section-notes{
    margin-top: 20px;
    width: 900px;
}
.card-note{
    background-color: var(--blancoGrisaseo);
    border-radius: 20px;
    padding: 20px;
}
.section-notes .info-basic-nota{
    display: flex;
    justify-content: space-around;
}

.color-gris{
    color: var(--grisFuerteFondo);
}

.section-notes{
    margin-bottom: 30px;
}

